<!-- start custom head snippets -->
<!-- insert favicons. use https://realfavicongenerator.net/ -->
<!-- Updated: 2025-09-12 -->
<!-- 핏불테리어 테마 CSS 직접 로드 -->
<link rel="stylesheet" href="{{ '/assets/css/pitbull-theme.css' | relative_url }}" />
<link rel="pitbull" sizes="152x152" href="/pitbull.png" />
<!--
<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png" />
<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png" />
-->
<link rel="manifest" href="/site.webmanifest" />
<!-- <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5" /> -->
<meta name="msapplication-TileColor" content="#da532c" />
<meta name="theme-color" content="#ffffff" />

<!-- 프로필사진과 사이트 정보 -->
<div class="author__avatar">
  <a href="/">
    <img src="/assets/images/main_img.PNG" alt="Pitbull Devlog" class="u-photo">
  </a>
</div>

<!-- 사이트 타이틀과 모토 -->
<div class="site-header-info">
  <h1 class="site-title-main">PitBull Terrier Devlog</h1>
  <p class="site-motto">"만약 노력도 재능이면, 내 재능은 어딜가도 꿀리지 않는다."</p>
</div>
<!-- end custom head snippets -->
